<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calcular El Doble y El Triple De Un Número</h1>
    <form action="/Desarrollo" method="post">
        <label for="">Ingrese el Numero: </label>
        <input type="number" name="n1" id="n1">
        <input type="submit" value="Calcular">
    </form>
    <h3>Solución: </h3>
    <h3>El Numero Ingresado es: {{A}}</h3><br>
    <h3> El Doble es: {{Dob}}</h3><br>
    <h3>El Triple es: {{Trip}} </h3><br>
</body>
</html>