<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Precios De Camisas</h1><br>
    <h3>El Precio a Ingresar Debe Ser en Dolares</h3>
    <form action="/Precios" method="post">
        <label for="Precio1">Ingrese el precio de la primera camisa</label>
        <input type="number" name="Precio1" id="Precio1"><br><br>
        <label for="Precio2">Ingrese el precio de la segunda camisa</label>
        <input type="number" name="Precio2" id="Precio2"><br><br>
        <label for="Precio3">Ingrese el precio de la tercera camisa</label>
        <input type="number" name="Precio3" id="Precio3"><br><br>
        <label for="Precio4">Ingrese el precio de la cuarta camisa</label>
        <input type="number" name="Precio4" id="Precio4"><br><br>
        <label for="Precio5">Ingrese el precio de la quinta camisa</label>
        <input type="number" name="Precio5" id="Precio5"><br><br>
        <input type="submit" value="Calcular"><br>
    </form>
    <h1>Respuesta:  {{Conversion}} </h1>
</body>
</html>