<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ejercicio Numero 1</h1><br><br>
    <h3>Los Numeros Ingresados Deben Ser Diferentes </h3><br><br>
    <form action="/Solucion" method="post">
        <label for="A">Ingrese el Primer Numero: </label>
        <input type="number" name="A" id="A"><br><br>
        <label for="B">Ingrese el Segundo Numero: </label>
        <input type="number" name="B" id="B"><br><br>
        <label for="C">Ingrese el Tercer Numero: </label>
        <input type="number" name="C" id="C"><br><br>
        <input type="submit" value="Calcular">
    </form>
    <h1>Respuesta:  {{Resultado}} </h1>
</body>
</html>